.copyrightandicon {
  display: flex;
  background-color: rgb(18, 18, 18);
  /* background-color: black; */
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  height: 70px;

  flex-wrap: wrap;
  width: 100%;
}
.copyrightandicon.darkCss{
  background-color: black;
}
.baricons {
  display: flex;
  align-items: center;
  width: 250px;
  text-align: center;
  justify-content: space-evenly;
}

.baricons li {
  list-style: none;
}

.baricons li a {
  cursor: pointer;
  color: rgb(213, 213, 213);
}

.baricons li a:hover {
  color: grey;
}

.copyright {
  color: grey;
}
@media screen and (max-width: 770px) {
  .copyrightandicon {
    padding: 0 60px;
  }
  .copyright {
    font-size: 14px;
  }
  .baricons li a {
    font-size: 13px;
  }
  .baricons {
    width: 180px;
  }
}
@media screen and (max-width: 580px) {
  .copyrightandicon {
    padding: 0 25px;
    justify-content: center;
  }

  .baricons {
    width: 170px;
  }
  .copyright {
    font-size: 12px;
  }
}
