.service {
  padding-top: 150px;
  text-align: center;
}
.service.darkCss{
  background-color: black;

}
.service h2 {
  font-size: 33px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.service.darkCss h2{
  color: white;
}
.service p {
  padding: 0 20px;
  margin-top: 17px;
  font-size: 15px;
  color: rgb(96, 96, 96);
  line-height: 20px;
  letter-spacing: 0.3px;
}
.service.darkCss p{
  color: rgb(185, 182, 182);
}
.service-item {
  display: flex;
  margin-top: 65px;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
}
.service-item1 {
  margin: 20px 20px;
  width: 250px;
  cursor: pointer;
  height: 310px;
  padding: 40px 0;
  text-align: center;
  background-color: rgb(224, 224, 224);
  transition: 0.6s;
}
.service.darkCss .service-item1{
  box-shadow: 10px 10px 30px 0px rgb(30, 25, 25);
  background-color: black;
}
.service-item1:hover {
  box-shadow: 10px 10px 25px 0px grey;
  transition: 0.6s;
  background-color: white;
}
.service-detail {
  margin-top: 15px;
}
.service-detail h3 {
  font-size: 21px;
  font-weight: bold;
}
.service.darkCss .service-detail h3{
  color: white;
}
.service-detail p {
  margin-top: 14px;
  color: rgb(136, 132, 132);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.6px;
}
.service.darkCss .service-detail p {
  color: rgb(185, 182, 182);
}

@media screen and (max-width: 650px) {
  .service h2 {
    font-size: 20px;
  }
  .service p {
    font-size: 11px;
  }
  .service-item1 {
   
    width: 160px;
    margin: 20px 10px;
    height: 240px;
  
  }
  .service-item1 img{
    width: 50px;
    height: 50px;
  }
  .service-detail h3 {
    font-size: 15px;
  
  }
  .service-detail p {
  
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.1px;
  }

}
