.intro {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 100%;
  margin-top: 150px;
}
.intro .left {
  height: 100%;
  padding: 1rem;
  max-width: 550px;
}

.intro .left h2 {
  font-size: 35px;
  font-weight: bold;
  text-align: start;
}

.intro .left p {
  line-height: 1.5;
  margin-top: 25px;
  letter-spacing: 0.2px;
  color: rgb(99, 98, 98);
}

.left button {
  margin: 25px 4px 0 4px;
  padding: 12px 30px;

 
}


.intro .right {
  max-width: 700px;
}
@media screen and (max-width: 1200px) {
  .right .img-stack .img {
    width: 350px;
    height: 350px;
  }
}

@media screen and (max-width: 900px) {
  .intro .left {
    max-width: 450px;
  }

  .intro .left h2 {
    font-size: 28px;
  }

  .intro .left p {
    font-size: 15px;
  }

  .left button {
    padding: 10px 23px;
    font-size: 12px;
  }
  .right .img-stack .img {
    width: 250px;
    height: 250px;
  }
}

@media screen and (max-width: 660px) {
  .intro .left {
    max-width: 450px;
  }

  .intro .left h2 {
    font-size: 25px;
  }

  .intro .left p {
    font-size: 13px;
  }

  .left button {
    padding: 8px 17px;
    font-size: 10px;
  }
}
@media screen and (max-width: 740px) {
  .right .img-stack .img {
    margin-top: 15px;
    display: none;
  }
  .intro {
    justify-content: center;

    align-items: center;
  }
  .left button {
    align-items: flex-start;
    display: flex;
  }

  .intro .left p {

    text-align: start;
  }
}
