.anyidea {
  margin: 100px 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.idea-details {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.idea-details h3 {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}
.idea-details p {
  margin: 10px 0;
  line-height: 23px;
  color: grey;
  letter-spacing: 0.3px;
}
.idea-details button {
  padding: 12px 23px;
  margin-top: 20px;
  font-size: 13px;
}

.idea-img {
  width: 250px;
  height: 250px;
  margin-top: 25px;
}
@media screen and (max-width: 1000px) {
  .idea-details {
    width: 40%;
  }
}
@media screen and (max-width: 630px) {
  .idea-details {
    width: 80%;
  }
}
@media screen and (max-width: 670px) {
  .idea-img {
  display: none;
  }
  .idea-details button {
    padding: 10px 15px;
    margin-top: 15px;
    font-size: 9px;
    letter-spacing: 0.2px;
   
   
  }
}
@media screen and (max-width: 500px) {
  .idea-details h3 {
    font-size: 20px;
    
  }
  .idea-details p {
    margin: 10px 0;
    line-height: 21px;
   font-size: 13px;
    letter-spacing: 0.2px;
  }
  
}
