.accordion {
  /* text-align: center; */
  margin: 100px 0;
}
.accordion h1 {
  margin-top: 30px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;

}
.accordion p {
  margin: 20px 0 40px 0;
  text-align: center;
  color: rgb(118, 114, 114);
}
.accordion-item {
  margin: 20px 0;
}
.accordion-body strong {
  color: rgb(76, 76, 245);
}
.accordion-body {
  color: rgb(154, 154, 154);
}
@media screen and (max-width:550px) {
  .accordion h1 {
    margin-top: 30px;
   font-size: 22px;
   
  }
  .accordion p {
    margin: 10px 0 40px 0;
   font-size: 12px;
  }
  .accordion-body {
    font-size: 10px;
  }
  
}
