@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: #0b011c;
}
.all-btn { 
  padding: 11px 1.5rem;
  background-color: #ac45bf;
  color: white;
  border-radius: 30px;
  transform: scale(1);
}

.all-btn:hover {
  background-color: #9d41ad;
  transform: scale(1.05);
}
